.rounded {
	border-radius: .25rem
}

.border-destructive\/20 {
	border-color: hsl(var(--destructive) / .2)
}
.bg-background\/50 {
	background-color: hsl(var(--background) / .5)
}
.bg-destructive\/5 {
	background-color: hsl(var(--destructive) / .05)
}